<section class="w-full top-0">
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
    <div class="hero-content flex-col">
    <div class="text-center my-4">
      <h1 class="text-2xl font-bold text-white text-outline"><%= t '.title' %></h1>
    </div>
   
    <!-- form - start -->
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
      <div class="flex flex-col gap-4 p-4 md:p-8">
      <div class="form-control my-2">
        <%= f.label :name, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base text-white text-outline" %><span class="text-sm text-red-500">*<%= t 'defaults.required' %></span>
        <%= f.text_field :name, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring " %>
      </div>
    
      <div class="form-control my-2">
        <%= f.label :email, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base text-white text-outline" %><span class="text-sm text-red-500">*<%= t 'defaults.required' %></span>
        <%= f.email_field :email, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
      </div>
    
      <div class="form-control my-2">
        <%= f.label :password, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base text-white text-outline" %><span class="text-sm text-red-500">*<%= t 'defaults.required' %></span>
        <%= f.password_field :password, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
      </div>
    
      <div class="form-control my-2">
        <%= f.label :password_confirmation, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base text-white text-outline" %><span class="text-sm text-red-500">*<%= t 'defaults.required' %></span>
        <%= f.password_field :password_confirmation, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
      </div>
    
      <div class="flex flex-col items-center">
      <%= f.button (t 'defaults.register'), class: "inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" %>
      </div>
      
    
      <p class="text-xs text-gray-400">By signing up to our newsletter you agree to our <a href="#" class="underline transition duration-100 hover:text-indigo-500 active:text-indigo-600">Privacy Policy</a>.</p>
      </div>
      </div>
      <% end %>
    <!-- form - end -->
  </div>
</div>
</section>