<div class="bg-white lg:pb-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <header class="flex items-center justify-between py-4 md:py-8">
      <!-- logo - start -->
      <%= link_to "/", class: "text-black-800 inline-flex items-center gap-2.5 text-2xl font-bold md:text-3xl", aria: { label: "logo" } do %>
        <svg width="95" height="94" viewBox="0 0 95 94" class="h-auto w-6 text-indigo-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M96 0V47L48 94H0V47L48 0H96Z" />
        </svg>

        Flowrift
        <% end %>
        
      <!-- logo - end -->

      <!-- nav - start -->
      <%= link_to "Home", "#", class: "text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700" %>
      <%= link_to "#", class: "inline-flex items-center gap-1 text-lg font-semibold text-indigo-500" do %>
      Features
      <%= content_tag :svg, class: "h-5 w-5 text-gray-800", viewBox: "0 0 20 20", fill: "currentColor" do %>
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      <% end %>
      <% end %>
      <%= link_to "Pricing", "#", class: "text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700" %>
      <%= link_to "About", "#", class: "text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700" %>
      <!-- nav - end -->

      <!-- buttons - start -->
      <%= link_to 'Login', login_path, class: "inline-block rounded-lg px-4 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:text-indigo-500 focus-visible:ring active:text-indigo-600 md:text-base" %>
      <%= link_to 'Signup', new_user_path, class: "inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" %>
      
      <!-- buttons - end -->
    </header>

    
  </div>
</div>