<section class="w-full top-0">
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="hero-content flex-col">
        <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
          <div class="flex flex-col gap-4 p-4 md:p-8">
          <div class="flex flex-col items-center  bg-achieved-background-count-color rounded-lg p-4 shadow-md">
          <i class="fas fa-trophy text-3xl text-achieved_count-color text-yellow-200"></i>
            <h1 class="text-2xl text-center text-achieved_count-color text-yellow-100">朝活達成回数</h1> 
            <p class="text-3xl  text-center text-achieved_count-color text-yellow-100"><%= @achieved_count %></p>
        </div>
        
            <div class="flex flex-col items-center">
              <% if current_user && current_user.start_time_plan && current_user.start_time_plan.start_time %>
              <div class="bg-black rounded-lg p-4 shadow-md">
  
              <h1 class="text-2xl text-center flex items-center justify-center text-white text-outline">
                <i class="fas fa-clock text-2xl mr-2"></i>
                目標の朝活開始時刻 <%= current_user.start_time_plan.start_time.strftime("%H:%M") %>
              </h1>
            </div>

                <div class="mt-4">
                <%= link_to t('defaults.edit'), edit_start_time_plan_path(current_user.start_time_plan) , class: 'btn btn-primary inline-block rounded-lg bg-gray-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-gray-600 focus-visible:ring active:bg-indigo-700 md:text-base'%>
                </div>
                <% else %>
                <h1>目標朝活開始時刻が設定されていません。</h1>
                <%= link_to t('start_time_plans.set_target_start_time'), new_start_time_plan_path , class: 'btn btn-primary inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base'%>
              <% end %>
            </div>

            <!--朝活カレンダー -->
            
            <%= turbo_frame_tag 'calendar' do %>
              <div class="flex flex-col mt-4">
              <h2 class="calendar-heading text-2xl font-bold text-white text-outline text-center mb-2">朝活カレンダー</h2>
                <%= month_calendar(events: @morning_activity_logs) do |date, logs| %>
                  <%= date.day %>
                  <% logs_for_date = logs.select { |log| log.created_at.to_date == date } %>
                  <% logs_for_date.each do |log| %>
                    <div class="flex justify-center items-center">
                      <% morning_activity_start_time = log.started_time %>
                      <% plan_time = log.start_time_plan.start_time %>
                      <% background_color = morning_activity_start_time.strftime("%H:%M") <= plan_time.strftime("%H:%M") ? 'green-background text-indigo-500' : 'red-background text-white' %>
                      <p tabindex="0" class="focus:outline-none text-xs text-center leading-normal pt-2 <%= background_color %>"><%= morning_activity_start_time.strftime('%H:%M') %></p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          
            <!--朝活カレンダーここまで -->

            <% if !@morning_activity_not_allowed %>
              <%= form_with(model: @morning_activity_log, url: morning_activity_logs_path, local: true) do |f| %>
                <div class="flex flex-col gap-4 p-4 md:p-8">
                  <%= f.hidden_field :started_time %>
                  <%= f.fields_for :post do |post_fields| %>
                    <h1 class="text-2xl font-bold text-center text-indigo-500">
                      <%= f.label :content, t('posts.new.title'),class: 'text-white text-outline' %>
                    </h1>
                    <div class="sm:col-span-2 text-center">
                      <%= post_fields.text_area :content, class:'inline-block rounded-lg bg-white px-10 py-12 text-center text-sm font-semibold text-black outline-none ring-indigo-300 transition duration-100 hover:bg-white focus-visible:ring active:bg-white md:text-base' %>
                    </div>
                    <div class="flex flex-col items-center">
                    <%= f.submit t('morning_activity_logs.start_morning_activity') , class: 'btn btn-primary inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base' %>
                    </div>
                    <% end %>
                 
                </div>
              <% end %>
            <% else %>
              <div class="flex flex-col gap-4 p-4 md:p-8">
                <span class="text-center text-sm font-semibold text-gray-500 md:text-base">早朝3:00までは打刻できません</span>
              </div>
            <% end %>
            <% display_modal = @achieved_count.to_i > @previous_achieved_count.to_i %>
            <%= render 'shared/modal', display_modal: display_modal %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

