<div class="btn-group flex justify-between my-5">
  <%= paginator.render do -%>
    <nav class="pagination" role="navigation" aria-label="pager">
      <%= first_page_tag unless current_page.first? %> <!-- "最初へ"のリンク -->
      

      <% each_page do |page| -%>
        <% if page.display_tag? -%>
          <%= page_tag page %> <!-- 各ページへのリンク -->
        <% elsif page.was_truncated? -%> <!-- ここを修正 -->
          <%= gap_tag %> <!-- ページ番号の省略部分 (...) -->
        <% end -%>
      <% end -%>

      
      <%= last_page_tag unless current_page.last? %> <!-- "最後へ"のリンク -->
    </nav>
  <% end -%>
</div>
