<div class="col-span-1 card w-auto bg-base-100 shadow-xl mt-4 mx-1.5 post-card">

            <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6 p-6"> <!-- ボーダーより上 -->
             
              <div class="flex flex-shrink-0">
                <% if post.user && post.user.image_url.present? %>
                    <%= image_tag post.user.image_url, class: 'rounded-full' %>
                <% else %>
                    <%= icon("solid", "user-circle", size: '4xl') %>
                <% end %>
              </div>
              <div class="pl-3 w-full">
                <p tabindex="0" class="focus:outline-none font-medium "><%= post.user.name %></p>
                <% if post.user.start_time_plan %>
                  <p tabindex="0" class="focus:outline-none text-xs leading-normal pt-2 text-gray-500">目標朝活開始時刻: <%= post.user.start_time_plan.start_time.strftime("%H:%M") %></p>
                <% else %>
                  <p tabindex="0" class="focus:outline-none text-xs leading-normal pt-2 text-gray-500">朝活開始時刻を設定していません</p>
                <% end %>

                
                <% morning_activity_log = post.user.morning_activity_log_on(post.created_at.to_date) %>
                <% if morning_activity_log.present? %>
                  <% start_time = morning_activity_log.started_time %>
                  <% plan_time = post.user.start_time_plan.start_time %>
                  <% text_color = start_time.strftime("%H:%M") <= plan_time.strftime("%H:%M") ? 'text-green-500' : 'text-red-500' %>
                  <p tabindex="0" class="focus:outline-none text-xs leading-normal pt-2 <%= text_color %>">投稿日の朝活開始時刻:</p>
                  <p tabindex="0" class="focus:outline-none text-xs leading-normal pt-2 <%= text_color %>"><%= start_time.strftime('%Y/%m/%d %H:%M') %></p>
                <% else %>
                  <p tabindex="0" class="focus:outline-none text-xs leading-normal pt-2 text-black-500">投稿日の朝活開始時刻はありません。</p>
                <% end %>
              </div>

            

            </div> <!-- ここまで -->


          



            <!-- ボーダーより下 -->


            <div class="text-sm leading-5 py-4 text-black-500  break-word p-6 post-content"> <!-- 'post-content' クラスを追加 -->
                <%= post.content %>
            </div>

            <div class="badge badge-outline flex justify-end pr-4 p-0 twitter-link">
                <% if current_user.own?(post) %>
                    <%= link_to 'twitter投稿', "https://twitter.com/intent/tweet?text=%0A#{post.content}%0A&hashtags=朝活&hashtags=おはログ", title: 'Twitter', target: '_blank', class: 'twitter-button' %>
                <% end %>
            </div>

            <div class="text-sm leading-5 py-2 text-gray-400 dark:text-gray-500 flex justify-between items-center p-4">
              <%= l post.created_at, format: :long %>
              <% if current_user.own?(post) %>
              
                <%= render 'crud_menus', post: post %>

               <% else %>
                <div class="badge badge-outline flex space-x-2">
                    <div class="badge badge-outline text-xl text-black"> <%= icon("regular", "thumbs-up") %> </div>                        
                    <div class="badge badge-outline text-xl text-black"> <%= icon("regular", "comment") %> </div>
                </div>
              <% end %>
            </div>
</div>  
   

  <!-- ここまで -->