<section class="w-full top-0">
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="hero-content flex-col">
        <div class="text-center my-4">
          <h1 class="text-2xl font-bold"><%= t '.title' %></h1>
        </div>
         <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
             <%= form_with url: login_path, class: "mx-auto max-w-lg rounded-lg border",local: true do |f| %>
                <div class="flex flex-col gap-4 p-4 md:p-8">
                  <div>
                    <%= f.label :email, User.human_attribute_name(:email), class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
                    <%= f.email_field :email, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
                  </div>

                  <div>
                    <%= f.label :password, User.human_attribute_name(:password), class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
                    <%= f.password_field :password, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
                  </div>
                  <div class="flex flex-col items-center">
                    <%= f.button (t 'defaults.login'), class: "block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" %>
                  </div>
                  <div class="relative flex items-center justify-center">
                  <span class="absolute inset-x-0 h-px bg-gray-300"></span>
                  <span class="relative bg-white px-4 text-sm text-gray-400">または</span>
                  </div>
                  <div class="block rounded-lg flex items-center justify-center bg-twitter-blue p-4">
                    <%= link_to auth_at_provider_path(provider: :twitter), class: 'btn w-100 twitter text-white ' do %>
                      <i class="bi bi-twitter"></i> Twitterでログイン
                    <% end %>
                  </div>
                  <%= link_to (t 'user_sessions.new.guest_user_login'), guest_login_path, data: { turbo_method: :post }, class: "inline-block rounded-lg px-4 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:text-indigo-500 focus-visible:ring active:text-indigo-600 md:text-base" %>

                  <div class="flex items-center justify-center bg-gray-100 p-4">
                    <p class="text-center text-sm text-gray-500">アカウントをお持ちでない方<%= link_to (t 'user_sessions.new.register'), new_user_path, class: "text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700" %></p>
                  </div>
                </div>  
              <% end %>
        </div>
      </div>
    </div>
  </div>
</section>